@media (min-width:480px) and (max-width: 540px) {
    .t-destinations-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        max-width: 600px;
        margin: auto;
    }
    .t-home-container .t-destinations-list .back-img {
        width: 200px;
        height: 200px;
        margin-left: 10%;
    }
    .t-home-container .t-travel-form {
        margin-bottom: -45% !important;
    }
    .space-abs-100 {
        position: relative;
        margin-bottom: 80% !important;
    }
}
/* Extra small devices (phones, portrait) — up to 575px */
@media (max-width: 575px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
    .t-section {
        margin-top: 40px;
    }
    .mt-80 {
        margin: 0;
    }
    .navbar-container {
        display: block;
        padding: 0;
        color: var(--t-primary-color);
        position: relative;
    }
    .navbar-container .logo {
        position: absolute;
        right: 0;
        top: 10px;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon , .menu .menu-item {
        padding: 15px 20px;
    }
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f5f5f5;
        margin-top: 10px;
        transition: all 0.4s ease;
    }
    .menu .menu-item a {
        color: var(--t-primary-color); 
    } 
    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
        transition: all 0.3s ease-in-out;
    }
    .menu .menu-item a::before {
        all: unset;
    }
    .t-blogs-banner {
        height: 250px;
    }
    .blog-info {
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
    .blog-info .blog-details .blog-image {
        margin: 0;
    }
    .blog-info .blog-details .blog-image img {
        max-width: 100%;
        height: auto;
    }
    .blog-para-info h2 {
        margin-top: 5px;
        padding-bottom: 5px;
    }
    .metas {
        margin-bottom: 5px;
    }
    .metas span {
        font-size: 0.6rem;
    }
    .blog-details p { 
        font-size: 0.8rem;
    }
    .blog-details {
        margin-bottom: 10px;
    }
    button {
        padding: 10px;
        font-size: 0.8rem;
        width: 50%;
    }
    .seperator-small-dark  {
        margin-top: 20px;
    }
    .footer-container .footer-section-main {
        flex-direction: column;
        font-size: 0.8rem;
    }
    .footer-container .footer-section {
        margin-bottom: 15px;
    }
    .footer-container .footer-section .footer-menus a {
        font-size: 0.9rem;
    }
    .footer-copyright .logo {
        padding: 0;
    }
    .footer-copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-copyright p {
        font-size: 0.8rem;
    }
    .blog-details p, .metas span:nth-of-type(1){
        padding: 0;
    }
    .contact-cards {
        flex-direction: column;
    }
    .contact-cards .card {
        width: 100%;
        padding: 20px;
    }
    .card-info p {
        font-size: 0.8rem;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-section .contact-info {
        width: 100%;
        text-align: center;
        line-height: 30px;
    }
    .contact-section .contact-info h1 {
        font-size: 1rem;
    }
    .contact-section .contact-info p:nth-of-type(1) {
        font-size: 1rem;
    }
    .contact-cards .card {
        margin: 20px 0px 0px 0px;
    }
    .google-map {
        height: 250px;
        width: 100%;
    }
    .google-map iframe {
        height: 100%;
    }
    .mbmt-40 {
        margin-top: 40px;
    }
    .contact-section .contact-form {
        width: 100%;
    }
    .d-content {
        display: none;
    }
    .m-content {
        display: block;
    }
    .social-links i {
        font-size: 1.2rem;
    }
    .contact-section .contact-form {
        text-align: center;
    }
    .contact-cards .card-info p {
        font-size: 1rem;
    }
    .contact-section .contact-info p:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .t-about-container .text-content {
        padding-top: 80px;
    }
    .t-about-container .text-content .title span:nth-of-type(1) {
        font-size: 2rem;
    }
    .t-about-container .text-content .title span:nth-of-type(2) {
        font-size: 1.5rem;
    }
    .t-about-container .description600 {
        padding: 0;
        font-size: 1rem;
    }
    .seperator-lightgrey {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .t-about-banner {
        height: 300px;
    }
    .t-about-container .image-container {
        display: none;
    }
    .t-about-container .image-text-section .info {
        width: 100%;
    }
    .t-about-container .image-text-section .para {
        padding: 0 8%;
    }
    .description400 {
        font-size: 0.9rem;
        padding: 0 8% !important;
    }
    .t-about-container .person-details .person-image img {
        width: 120px;
        height: 120px;
    }
    .t-about-container .person-info {
        padding: 5px;
    }     
    
    h2 {
        padding: 0;
        font-size: 1rem;
    }
    .t-home-container .slider-container .slide-detail {
        padding: 0px 10%;
        margin-top: 15%;
    }
    .t-home-container .slider-container .slide-detail {
        padding: 0px 10%;
        margin-top: 15%;
    }
    .t-home-container .slider-container .slide-detail .heading{
        font-size: 3rem;
    }
    .t-home-container .slider-container .slide-detail .sub-heading{
        font-size: 1.4rem;
    }
    .t-tours-details {
        flex-direction: column;
    }
    .t-tours-details-card {
        width: 100%;
    }
    /* .t-tours-details-card h2{
        margin-top: 10px;
        color:  var(--t-primary-color);
    } */
    .t-tours-image {
        height: 400px;
    }
    .t-tours-details-card {
        margin: 0;
    }
    .t-home-container .t-destinations-list {
        flex-direction: column;
        align-items: center;
    }
    .t-home-container .t-destination.back-img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .t-destinations-list-group button {
        margin-left: 25%;
    }
    .t-home-container .t-home-blogs-list {
        flex-direction: column;
    }
    .t-home-blogs-list .t-home-blog {
        width: 100%;
    }
    .t-home-container .t-home-blog {
        margin-bottom: 40px;
    }
    .t-home-container .t-travel-form {
        margin-bottom: -60%;
    }
    .t-home-container .travel-form-inputs {
        display: block;
    }
    .t-home-container .input-col {
        display: block;
        margin-bottom: 10px;
    }
    .space-abs-100{
        position: relative;
        margin-bottom: 100%;
    }
}
/* Small devices (phones, landscape) — 576px to 767px */
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
    height: 280px;
    /* padding: 15px; */
  }
}

/* Medium devices (tablets) — 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
        width: 720px;
    }
    .blog-info .blog-details .blog-image img {
        width: 330px;
        height: 200px;
    }
    .footer-container .footer-section-main {
        flex-direction: column;
        font-size: 0.8rem;
    }
    .footer-copyright {
        padding: 10px;
    }
    .navbar-container {
        display: block;
        padding: 0;
        color: var(--t-primary-color);
        position: relative;
    }
    .navbar-container .logo {
        position: absolute;
        right: 0;
        top: 10px;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon , .menu .menu-item {
        padding: 15px 20px;
    }
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f5f5f5;
        margin-top: 10px;
        transition: all 0.4s ease;
    }
    .menu .menu-item a {
        color: var(--t-primary-color); 
    } 
    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
        transition: all 0.3s ease-in-out;
    }
    .menu .menu-item a::before {
        all: unset;
    }
    .contact-cards {
        flex-direction: column;
    }
    .contact-cards .card {
        width: 100%;
    }
    .contact-cards .card .card-info p {
        font-size: 2rem;
    }
    .contact-cards .card a {
        font-size: 2rem;
    }
    .contact-section {
        flex-direction: column;
    }
    .contact-section .contact-info {
        width: 100%;
        text-align: center;
    }
    .contact-section .contact-info p:nth-of-type(3) {
        font-size: 1.8rem;
    }
    .contact-section .contact-form {
        width: 100%;
        text-align: center;
    }
    .mbmt-40 {
        margin-top: 40px;
    }
    .contact-section .contact-info h1 {
        font-size: 1.5rem;
    }
    .t-about-container .image-container {
        display: none;
    }
    .t-about-container .image-text-section .info {
        width: 100%;
    }
    .t-heading {
        font-size: 3rem;
    }
    .t-about-container .para {
        padding: 0 2%;
        font-size: 1.5rem;
    }
    .t-about-container .description400 {
        font-size: 1.5rem;
        padding: 0 2%;
        text-align: justify;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .footer-container .footer-section p {
        font-size: 1.5rem;
    }
    .footer-container .footer-section p strong {
        font-size: 1.5rem;
    }
    .footer-container .footer-section .info-head {
        font-size: 1.5rem;
    }
    .footer-container .footer-menus a {
        font-size: 1.5rem;
    }
    .description600 {
        padding: 0;
    }
    .t-about-banner {
        height: 600px;
        position: relative;
    }
    .t-about-banner .text-content {      
        position: absolute;
        padding-top: 20%;
    }
    .t-tours-details {
        flex-direction: column;
    }
    .t-tours-details-card {
        margin: 0;
        width: 100%;
    }
    .t-home-container .description400 {
        padding: 0 10%;
    }
    .t-destinations-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 60px;
        max-width: 600px;
        margin: auto;
    }
    .t-destinations-list .back-img {
        width: 250px;
        height: 250px;
    }
    .t-destinations-list .back-img span h3 {
        font-weight: bolder;
        font-size: 1.2rem;
    }
    .t-tour-info h1 {
        font-size: 2rem;
    }
    .t-tours-details .two i {
        font-size: 1.5rem;
    }
    .t-tour-info p {
        font-size: 1.5rem;
    }
    .t-home-container .slider-container .slide-detail {
        padding: 0px 8%;
        margin-top: 15%;
    }
    .t-home-container .slider-container .slide-detail .heading {
        font-size: 4rem;
    }
    .slider-container .slide-detail .sub-heading {
        font-size: 1.8rem;
    }
    .t-home-container .t-home-blogs-list {
        flex-direction: column;
    }
    .t-home-container .t-home-blogs-list .t-home-blog {
        width: 100%;
    }
    .t-home-container .t-home-blog-with-image {
        height: 400px;
    }
    .t-home-container span.tag-box h3 {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 200px;
        font-size: 1rem;
    }
    .t-home-container .t-home-blog-info h1{
        font-size: 2rem;
    }   
    .t-home-container .t-home-blog-info p {
        font-size: 1.5rem;
    }
    .t-home-container .t-home-blogs-list span.time {
        font-size: 1.5rem;
    }
    .t-home-container .t-home-blogs-list .t-home-blog-info {
        margin-bottom: 40px;
    }
    .t-home-container .t-travel-form {
        margin-bottom: -30%;
    }
    .t-home-container .travel-form-inputs {
        display: block;
    }
    .t-home-container .input-col {
        display: block;
        margin-bottom: 10px;
    }
    .space-abs-100{
        position: relative;
        margin-bottom: 50%;
    }
    .t-blogs h2 {
        font-size: 1.6rem;
    }
}

/* Large devices (small laptops) — 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
        /* padding: 25px; */
    }
    .blog-info .blog-details .blog-image img {
        width: 450px;
        height: 300px;
    }
    .footer-copyright {
        padding: 15px;
    }
    .t-about-container .t-about-banner {
        height: 600px;
        position: relative;
    }
    .text-content .title span:nth-of-type(1) {
        font-size: 6rem;
    }
    .text-content .title span:nth-of-type(2) {
        font-size: 4.5rem;
    }
    .description600 { 
        padding: 0;
        font-size: 2rem;
    }
    .t-heading {
        font-size: 3rem;
    }
    .t-about-container .para {
        font-size: 1.5rem;
        padding: 0 8%;
    }
    .description400 {
        font-size: 1.5rem;
        padding: 0 8%;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .text-content {
        position: absolute;
        padding-top: 12%;
    }
    .footer-container .footer-section p {
        font-size: 1.1rem;
    }
    .footer-container .footer-section p strong {
        font-size: 1.1rem;
    }
    .footer-container .footer-section .info-head {
        font-size: 1.1rem;
    }
    .footer-container .footer-menus a {
        font-size: 1.1rem;
    }
    .t-travel-form {
        padding: 20px;
    }
    .t-home-container .description400 {
        padding: 0 18%;
    }   
    .t-tours-image {
        height: 400px;
    }
    .t-tour-info h1 {
        font-size: 1.3rem;
    }
    .t-tour-info h2 {
        font-size: 1.2rem;
    }
    .t-tour-info h3 {
        font-size: 1rem;
    }    
    .t-home-container .slider-container .slide-detail {
        padding: 0px 15%;
        margin-top: 15%;
    }
    .t-home-container .slider-container .slide-detail .heading{
        font-size: 4.5rem;
    }
}

/* Extra large devices (desktops) — 1200px and up */
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 30px;
    }
    .menu-icon {
        display: none;
    }
    .travel-form-inputs {
        padding: 0;
    }
}
